<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<!--Adding new posts to the home page-->
<% newBlogs.forEach (newBlog => { %>

<h1><%= newBlog.title %></h1>
<p>
  <%= newBlog.content.substring(0, 99) + ' ...' %>
  <a href="/posts/<%=newBlog.title%>">Read More</a>
</p>

<% }); %>

<!--Footer -->
<%- include('partials/footer'); -%>
